{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["problems", "plugin:@typescript-eslint/recommended", "prettier"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off"
  },
  "ignorePatterns": [
    "/src/parser/parser.ts",
    "dist",
    "node_modules",
    "grammar.js",
    "index.js",
    "storage.js"
  ]
}
