{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["problems", "plugin:@typescript-eslint/recommended", "prettier"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off"
  },
  "ignorePatterns": ["dist", "node_modules", "grammar.js"]
}
